.Main {
  background-color: #ffffff;
  &__Visual {
    height: 560px;
    width: 100%;
    background-image: url('material/pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top, center;
    padding: 0 60px;
    display: flex;
    align-items: center;
  }
}

.Container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
  &__Title {
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 60px;
    line-height: 1.2;
    color: #ffffff;
  }
}

.Container__Subtitle {
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 18px;
  color: #ffffff;
  line-height: 1.7;
  margin: 16px 0 0 0;
}

.Main__Intro {
  padding: 60px 20px;
}
// ↓にprefixを適用させる？
h2.Reason {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

h2.Reason::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Lists {
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.List {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__Picture{
    position: relative;
    margin-bottom: 20px;
  }
  &__Discript {
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin:  0 0 0 2px;
  }
}

span.num{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 8px 18px;
  background-color: #3CCACE;
  color: #ffffff;
}

span {
  color: #3CCACE;
}


.Center {
  height: 400px;
  background-image: url('material/pict/bg-topMiddleDl-pict.jpg');
  background-position: bottom right;
  background-size: cover;
  display: flex;
  align-items: center;
  &__Inside {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }
}

.subtitle {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
}

.Center__Feature {
  padding: 60px 100px;
  background-color: #ffffff;
}

h2.Feature {
  font-size: 27px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

h2.Feature::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Items {
  max-width: calc(1040px + 20px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.Item {
  display: flex;
  flex-direction: column;
  width: calc(1/3 * 100%);
  text-align: center;
  padding: 0 20px;
  &__Image {
    width: 70%;
    margin: 0 auto;
    line-height: 120px;
  }
  &__Heading {
    font-size: 19px;
    font-weight: bold;
    margin: 38px 0 10px;
  }
}

.Pickup__box {
  height: 100%;
  background-color: #f8f8f8;
  padding: 80px 0 0;
}

h2.Pickup__Header {
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
}

.Products__Header {
  text-align: center;
}

h3.title {
  font-size: 24px;
  color: #3CCACE;
  font-weight: bold;
  text-decoration: none;
}

.Products__Lists {
  width: 780px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
}

.Banner {
  background-image: url('material/pict/bg-appBanner-pict.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 40px;
}

.Inside {
  color: #ffffff;
  text-align: center;
}

h2.Inside__Title {
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

p.Inside__Text {
  text-shadow: 0 0 5 rgba(0,0,0,0.4);
  font-size: 35px;
}