.Header
  .Header__container
    
    .Header__container__upper
      .Header__container__upper__logo
        %span.image
          = image_tag 'material/logo/logo.png', alt: 'header-logo', height: '40px', class: ''
      .Header__container__upper__form
       
        = form_with url: '#' do |form|
          -# = form.text_field :keyword, placeholder: "投稿を検索する", 
          = form.submit 
    .Header__container__nav
      %li.Header__container__nav__dropdown
        %ul.Header__container__nav__dropdown__category
          カテゴリー
        %ul.Header__container__nav__dropdown__brand
          ブランド
      %li.Header__container__nav__user-menu
        %ul.Header__container__nav__user-menu__left
          ログイン
        %ul.Header__container__nav__user-menu__right
          新規会員登録
          
        
          
      
              
              